<a href="https://colab.research.google.com/github/sabahatyns/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
# ---------------------------------------
# üéØ PYTHON DATA TYPES - PRACTICE FILE
# ---------------------------------------

# 1Ô∏è‚É£ NUMBERS (int, float, complex)
num_int = 10
num_float = 3.14
num_complex = 2 + 3j

print("üìò Numbers:")
print(type(num_int), num_int)
print(type(num_float), num_float)
print(type(num_complex), num_complex)
print()

üìò Numbers:
<class 'int'> 10
<class 'float'> 3.14
<class 'complex'> (2+3j)

In [65]:

# 2Ô∏è‚É£ STRING (str)
name = "Sabahat"
greeting = f"Hello, {name}"
greeting2 = "Hello "+ name
print(type(name), name)
print(greeting)
print("Upper:", name.upper())
print("Slice:", name[1:4])
print(len(name))
print(greeting2)

<class 'str'> Sabahat
Hello, Sabahat
Upper: SABAHAT
Slice: aba
7
Hello Sabahat

In [66]:
# 3Ô∏è‚É£ BOOLEAN (bool)
is_active = True
is_logged_in = False
print(type(is_active), is_active)
print("Comparison example:", 10 > 5)
print()

üìô Booleans:
<class 'bool'> True
Comparison example: True

In [67]:
# 4Ô∏è‚É£ LIST (ordered, mutable)
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print("üìí Lists:")
print(type(fruits), fruits)
print("First fruit:", fruits[0])
print("Sliced:", fruits[1:3])
print()

üìí Lists:
<class 'list'> ['apple', 'banana', 'cherry', 'orange']
First fruit: apple
Sliced: ['banana', 'cherry']

In [68]:
# 5Ô∏è‚É£ TUPLE (ordered, immutable)
colors = ("red", "green", "blue")
print("üìï Tuples:")
print(type(colors), colors)
# colors[0] = "yellow"  # ‚ùå would cause error
print("Access tuple element:", colors[1])
print()

üìï Tuples:
<class 'tuple'> ('red', 'green', 'blue')
Access tuple element: green

In [69]:
# 6Ô∏è‚É£ SET (unordered, unique elements)
numbers = {1, 2, 3, 3, 4}
numbers.add(5)
print("üìî Sets:")
print(type(numbers), numbers)
print("Check membership:", 3 in numbers)
print()

üìî Sets:
<class 'set'> {1, 2, 3, 4, 5}
Check membership: True

In [70]:
# 7Ô∏è‚É£ DICTIONARY (key-value pairs)
person = {
    "name": "Sabahat",
    "age": 23,
    "country": "Pakistan"
}
person["age"] = 24  # update value
print("üìì Dictionaries:")
print(type(person), person)
print("Access by key:", person["name"])
print()

üìì Dictionaries:
<class 'dict'> {'name': 'Sabahat', 'age': 24, 'country': 'Pakistan'}
Access by key: Sabahat

In [71]:
# 8Ô∏è‚É£ NONE TYPE
nothing = None
print("üìò None Type:")
print(type(nothing), nothing)
print()

# 9Ô∏è‚É£ BYTE TYPES (bytes, bytearray, memoryview)
data_bytes = b"Hello"
data_array = bytearray(5)
data_view = memoryview(b"Python")
print("üìó Byte Types:")
print(type(data_bytes), data_bytes)
print(type(data_array), data_array)
print(type(data_view), data_view)
print()

üìò None Type:
<class 'NoneType'> None

üìó Byte Types:
<class 'bytes'> b'Hello'
<class 'bytearray'> bytearray(b'\x00\x00\x00\x00\x00')
<class 'memoryview'> <memory at 0x7bfa8e38ed40>

In [72]:
# üîü TYPE CONVERSIONS
print("üìô Type Conversions:")
x = 5
print("int to float:", float(x))
y = "123"
print("str to int:", int(y))
print("list from string:", list("abc"))
print()

# üß† BONUS: MIXED COLLECTION
mixed = [123, "abc", 3.14, True, None, [1, 2], {"a": 1}]
print("üìî Mixed list:", mixed)
print()

print("‚úÖ All data types covered!")

üìô Type Conversions:
int to float: 5.0
str to int: 123
list from string: ['a', 'b', 'c']

üìî Mixed list: [123, 'abc', 3.14, True, None, [1, 2], {'a': 1}]

‚úÖ All data types covered!

In [94]:
def Hello(a):
  for i in range(len(a)):
    if i == 1:
      continue # it will skip the value at 1
    print("hello world index", i)
    print("hello world value", a[i])

Hello([1,2,3])

hello world index 0
hello world value 1
hello world index 2
hello world value 3